@{
    ViewData["Title"] = "Accesso Negado";
}
<br/>
<div>
    <header>
        <!--Inicio da secção de introdução interna -->
        <section class="introducao-interna interna_sobre">
            <div class="container">
                <h1 data-anime="400" class="fadeInDown">Sobre</h1>
                <p data-anime="800" class="fadeInDown">Conheça mais sobre a nossa fábrica</p>
            </div>
        </section>
        <!-- Final da introdução interna -->

        <div class="alert alert-danger">
            <h2 class="text-danger">@ViewData["Title"]</h2>
        </div>
        <p class="text-danger">Você não tem acesso a este recurso.</p>
    </header>
</div>