@{
    ViewData["Title"] = "Confirm email";
}


<h2>@ViewData["Title"]</h2>
<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_sobre">
        <div class="container">
            <h1 data-anime="400" class="fadeInDown">Sobre</h1>
            <p data-anime="800" class="fadeInDown">Conheça mais sobre a nossa fábrica</p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <p>
        Obrigado por confimar seu email.
    </p>
</div>
