@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="container">
        <div class="grid-12 header_menu">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="grid-12">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
