
@{
    ViewData["Title"] = "Contato";
}
<div>

    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_contato">
        <div class="container">
            <h1>Contato</h1>
            <p>Tire suas dúvidas com a gente.</p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <!--Inicio da secção do formulário de visitas -->
    <section class="contato container">
        <form id="form_visita" class="contato_form grid-8">
            <label for="nome">Nome</label>
            <input type="" name="text">
            <label for="email">E-mail</label>
            <input type="" name="text">
            <label for="telefone">Telefone</label>
            <input type="" name="text">
            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem"></textarea>
            <div class="btn_contato">
                <button type="submit" class="btn btn-preto">Enviar</button>
            </div>
        </form>
        <div class="contato_dados" class="grid-8">
            <h3>Fale conosco</h3>
            <span>+55-(19)-98932 7757</span>
            <span>visitadnasoftware@gmail.com</span>
            <span>Rua: Analândia, 474 </span>
            <span>São Joaquim</span>
            <span>Santa Bárbara d'Oeste-SP</span>
            <h3 class="redes">Redes</h3>
            <ul>
                <li>
                    <a href="http://facebook.com" target="blank">
                        <img src="~/img/home/footer/facebook.svg">
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com" target="blank">
                        <img src="~/img/home/footer/instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com" target="blank">
                        <img src="~/img/home/footer/twitter.svg">
                    </a>
                </li>
            </ul>

        </div>
    </section>

    <!-- Finalda seccção do formulário de visitas -->
    <!-- Inicio da secção do footer quoter -->
</div>
@section css{
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/sobre.css" rel="stylesheet">
    <link href="~/Content/css/produto.css" rel="stylesheet">
    <link href="~/Content/css/portfolio.css" rel="stylesheet">
    <link href="~/Content/css/contatos.css" rel="stylesheet">
}

