
@{
    ViewData["Title"] = "Portfolio";
}

<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_portfolio">
        <div class="container">
            <h1 data-anime="400" class="fadeInDown">Portfólio</h1>
            <p data-anime="800" class="fadeInDown">Conheça mais o nosso portfolio </p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <section data-anime="1600" class="quoter container fadeInDown" data-slide="quote" >

        <blockquote  class="quote-interno">
            <p>
                "Quando alimentamos nossos desejos e coragem mais que nossos medos,
                passamos a derrubar barreira e construir nosso novos horizontes..."
            </p>
            <cite>JOSÉ PAULO GALDINO</cite>
        </blockquote>
        <blockquote class="quote-interno">
            <p>
                "Nunca devemos nos render as dificuldades, pois são elas que abrem novos horizontes, 
                nos ensinando que nunca devemos ficar estagnados no tempos,
                devemos ser uma metamorfose e nos adptarmos a novas realidades..."
            </p>
            <cite>JOSÉ PAULO GALDINO</cite>
        </blockquote>
        <blockquote class="quote-interno">
            <p>
                "Quando estamos totalmente satisfeitos com os resultados obtidos estamos começando a deixar de experimentar os novos prazeres que a vida nos dá ..."
            </p>
            <cite>JOSÉ PAULO GALDINO</cite>
        </blockquote>
    </section>

    <section data-anime="2000" class="portfolio fadeInDown">
        <div class="container" data-slide="portfolio">
            <ul class="portfolio_lista">
                <li class="grid-8"><img src="~/img/home/portfolio/foto-agua.jpg" alt="copo-agua"></li>
                <li class="grid-8"><img src="~/img/home/portfolio/foto-refri.jpg" alt="copo-refrigerante"></li>
                <li class="grid-16"><img src="~/img/home/portfolio/foto-tchai.jpg" alt="copo_tchai"></li>
            </ul>
            <ul class="portfolio_lista">
                <li class="grid-8"><img src="~/img/home/portfolio/foto-refri.jpg" alt="copo-refrigerante"></li>
                <li class="grid-8"><img src="~/img/home/portfolio/foto-agua.jpg" alt="copo-agua"></li>
                <li class="grid-16"><img src="~/img/home/portfolio/foto-tchai.jpg" alt="copo_tchai"></li>
            </ul>
        </div>
    </section>
</div>
@*@section css{
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/sobre.css" rel="stylesheet">
    <link href="~/Content/css/produto.css" rel="stylesheet">
    <link href="~/Content/css/portfolio.css" rel="stylesheet">
    <link href="~/Content/css/responsivo.css" rel="stylesheet">
}*@

