
@{
    ViewData["Title"] = "Portfolio";
}

<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_portfolio">
        <div class="container">
            <h1>Portfólio</h1>
            <p>Conheça mais o nosso portfolio </p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <section class="quoter container">
        <blockquote class="quote-interno">
            <p>
                "Quando alimentamos nossos desejos e coragem mais que nossos medos,
                passamos a derrubar barreira e construir nosso novos horizontes..."
            </p>
            <cite>JOSÉ PAULO GALDINO</cite>
        </blockquote>
    </section>

    <section class="portfolio">
        <div class="container">
            <ul class="portfolio_lista">
                <li class="grid-8"><img src="~/img/home/portfolio/foto-agua.jpg" alt="copo-agua"></li>
                <li class="grid-8"><img src="~/img/home/portfolio/foto-refri.jpg" alt="copo-refrigerante"></li>
                <li class="grid-16"><img src="~/img/home/portfolio/foto-tchai.jpg" alt="copo_tchai"></li>
            </ul>

        </div>
    </section>

</div>
@section css{
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/sobre.css" rel="stylesheet">
    <link href="~/Content/css/produto.css" rel="stylesheet">
    <link href="~/Content/css/portfolio.css" rel="stylesheet">

}
