
@{
    ViewData["Title"] = "Produto";
}

<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_produto">
        <div class="container">
            <h1>Produto</h1>
            <p>Conheça mais sobre os nossos produtos</p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <!-- Nicio da secção de Refrigerante -->
    <section class="container produto_item">
        <div class="grid-11">
            <img src="~/img/produto/refrigerante/foto_refrigerante.jpg" alt="Foto copo refrigerante">
            <h2>Refrigerantes</h2>
        </div>
        <div class="grid-5 produto_icone">
            <img src="~/img/icones/refrigerante.svg">
        </div>
        <div class="grid-8">
            <img src="~/img/produto/refrigerante/foto_ilustracao.jpg" alt="Foto refrigerante gelo">
        </div>
        <div class="grid-8 produto_info">
            <p>
                "O nosso verdadeiro compromisso é servir você,
                pois você sempre será nossa primeira opção, fazendo mais por você"
            </p>
            <ul>
                <li>Sabor</li>
                <li>Refrescancia</li>
                <li>Tradição</li>
                <li>Originalidade</li>
            </ul>
        </div>
    </section>
    <!-- Final da secção de Refrigerantes -->
    <!-- Nicio da secção de xarope  -->
    <section class="container produto_item">
        <div class="grid-11">
            <img src="~/img/produto/xarope/foto-xarope.jpg" alt="Foto copo suco">
            <h2>Xaropes para Chay</h2>
        </div>
        <div class="grid-5 produto_icone">
            <img src="~/img/icones/drink.svg">
        </div>
        <div class="grid-8">
            <img src="~/img/produto/xarope/foto_ilustracao.jpg" alt="Foto brinde">
        </div>
        <div class="grid-8 produto_info">
            <p>
                "O nosso verdadeiro compromisso é servir você,
                pois você sempre será nossa primeira opção, fazendo mais por você"
            </p>
            <ul>
                <li>Sabor</li>
                <li>Refrescancia</li>
                <li>Tradição</li>
                <li>Originalidade</li>
            </ul>
        </div>
    </section>
    <!-- Final da secção de Xaropes -->
    <!-- Nicio da secção de Água mineral -->
    <section class="container produto_item">
        <div class="grid-11">
            <img src="~/img/produto/agua/foto_titulo.jpg" alt="Foto drinks">
            <h2>Água mineral</h2>
        </div>
        <div class="grid-5 produto_icone">
            <img src="~/img/icones/agua-mineral.svg">
        </div>
        <div class="grid-8">
            <img src="~/img/produto/agua/foto_ilustracao.jpg" alt="Foto refrigerante gelo">
        </div>
        <div class="grid-8 produto_info">
            <p>
                "O nosso verdadeiro compromisso é servir você,
                pois você sempre será nossa primeira opção, fazendo mais por você"
            </p>
            <ul>
                <li>Sabor</li>
                <li>Refrescancia</li>
                <li>Tradição</li>
                <li>Originalidade</li>
            </ul>
        </div>
    </section>
    <!-- Final da secção de Água minera -->
    <!--Inicio da secção do formulário de visitas -->
    <section class="formulario_visita">
        <div class="container">
            <h2 class="subtitulo">Agende uma visita</h2>
            <form id="form_visita" class="form grid-8">
                <label for="nome">Nome</label>
                <input type="" name="text">
                <label for="email">E-mail</label>
                <input type="" name="text">
                <label for="telefone">Telefone</label>
                <input type="" name="text">
                <label for="mensagem">Mensagem</label>
                <textarea id="mensagem"></textarea>
                <button type="submit" class="btn">Enviar</button>
            </form>
            <div class="dados_visita " class="grid-8">
                <h3>Fale conosco</h3>
                <span>+55-(19)-98932 7757</span>
                <span>visitadnasoftware@gmail.com</span>


            </div>

        </div>
    </section>
    <!-- Finalda seccção do formulário de visitas -->
</div>
@section css {
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/sobre.css" rel="stylesheet">
    <link href="~/Content/css/produto.css" rel="stylesheet">
}


