@{
    ViewData["Title"] = "DNA Developer's - Sobre";
}
<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_sobre">
        <div class="container">
            <h1 data-anime="400" class="fadeInDown">Sobre</h1>
            <p data-anime="800" class="fadeInDown">Conheça mais sobre a nossa fábrica</p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <!--Inicio da secção Missão -->
    <section data-anime="1200" class="missao_sobre container fadeInDown">
        <div class="grid-10">
            <h2 class="subtitulo-interno">História, Missão e Visão</h2>
            <p>
                No mundo atual, a contínua expansão de nossa atividade cumpre um papel essencial na formulação da gestão inovadora da qual fazemos parte da qual fazemos parte.
            </p>
            <p>
                No mundo atual, a contínua expansão de nossa atividade cumpre um papel essencial na formulação da gestão inovadora da qual fazemos parte da qual fazemos parte.
            </p>
        </div>
        <div class="grid-6">
            <h2 class="subtitulo-interno">Valores</h2>
            <ul>
                <li>- Qualidade no processo de fábricação</li>
                <li>- Foco no consumidor sem perder a</li>
                <li>- Diversão, e sabor preservando a</li>
                <li>- Natureza com sustentabilidade</li>
            </ul>
        </div>

        <div class="grid-16 foto-fabrica">
            <img src="~/img/sobre/foto-fabrica.jpg" alt="Foto da fabricacao">
        </div>

    </section>



    <!-- Inicio da secção da qualidade -->
    <section class="qualidade container">
        <h2 class="subtitulo">Qualidade</h2>
        <img src="~/img/home/qualidade/dna-yelow.svg" alt="Dna_developer's">
        <ul class="qualidade_lista">
            <li class="grid-1-3">
                <h3>Sustentabilidade</h3>
                <p>Ainda assim, existem dúvidas e respeito de como a necessidade de renovação renovação renovação</p>
            </li>
            <li class="grid-1-3">
                <h3>Satisfação</h3>
                <p>Ainda assim, existem dúvidas e respeito de como a necessidade de renovação renovação renovação</p>
            </li>
            <li class="grid-1-3">
                <h3>Tradição</h3>
                <p>Ainda assim, existem dúvidas e respeito de como a necessidade de renovação renovação renovação</p>
            </li>
        </ul>
    </section>
    <!-- Fim da secção da qualidade -->
</div>
@*@section css {
    <link href="~/Content/css/sobre.css" rel="stylesheet">
    <link href="~/Content/css/responsivo.css" rel="stylesheet" />
}*@