@model DNA.Application.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Registrar um novo Cliente";
}

<div>
<form asp-action="Create">
    <div class="form-cliente">
        /*==========Interna sobre=====================*/

        .interna_sobre {
        background: url("../../img/sobre/foto-introducao.jpg") no-repeat center;
        background-size: cover;
        }

        @* Replacing classic Validation Summary to Custom ViewComponent as TagHelper *@
        <vc:summary />

        <div class="form-criar">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="form-cirar">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-criar">
            <label asp-for="DataNascimento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-criar">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar para a lista</a>
            </div>
        </div>
    </div>
</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
