@{
    ViewData["Title"] = "Error";
}
<div>
    <!--Inicio da secção de introdução interna -->
    <section class="introducao-interna interna_sobre">
        <div class="container">
            <h1 data-anime="400" class="fadeInDown">Página de erros</h1>
            <p data-anime="800" class="fadeInDown">Estamos tendo problemas para atender sua solicitação</p>
        </div>
    </section>
    <!-- Final da introdução interna -->
    <!--Inicio da secção Erro -->
    <section data-anime="1200" class="missao_sobre container fadeInDown">
        <div class="grid-16  container">
            <div class="alerta">
                <h1 class="text-danger">Erro.</h1>
                <h2 class="text-danger">Um erro ocorreu durante o processamento do seu pedido.</h2>
            </div>
        </div>
    </section>
</div>